* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #50514F;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.squares-container {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0px;
}

.square {
    font-family: "Audiowide", sans-serif;
    font-size: 16px;
    background-color: #A2ABAB;
    border-radius: 10%;
    color: #FFF;
    height: 40px;
    width: 40px;
    border: solid 1px #000;

}

.square:not(.drop, .answer):hover {
    background-color: #BDC9C9;
}

.info {
    color: white;
    font-size: 22px;
    font-family: "Audiowide", sans-serif;
    text-transform: uppercase;
    margin: 10px;
}

.answer {
    z-index: 1;
}

.restart {
    font-family: "Audiowide", sans-serif;
    font-size: 16px;
    margin-top: 20px;
    background-color: #A2ABAB;
    border-radius: 10%;
    color: #FFF;
    height: 40px;
    width: 160px;
    border: solid 1px #000;

}

.restart:hover {
    background-color: #BDC9C9;
}